<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>
<body>
	<div class="container">
		<br>
		<div class="card">
			<div class="card-header">
				<h2>Novo Artigo</h2>
			</div>
			<div class="card-body">
				<form method="POST" action="/categories/save">
					<input type="text" name="title" class="form-control" placeholder="Defina o título do artigo">
					<br>
					<textarea class="form-control" placeholder="Digite seu artigo aqui" name="body"></textarea><br>
					<button class="btn-success form-control">Submeter</button>
				</form>
			</div>
		</div>
	</div>
</body>
<%- include("../../partials/footer.ejs") %>