<nav class="navbar navbar-expand-lg navbar-light bg-success">
	<a class="navbar-brand" href="/">
		<b>Jere Express</b>
	</a>

	<ul class="navbar-nav">
		<li  class="nav-item">
			<a class="nav-link" style="color: black" href="/" >Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" style="color: black" href="/categories/admin">Admin</a>
		</li>
		<li class="nav-item dropdown" id="lili">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
				Categorias
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<% categories.forEach(category => { %>
					<!--  -->
					<a class="dropdown-item" href="/category/<%= category.slug %>"><%= category.title %> </a>
				<% }); %>
			</div>
		</li>
		
	</ul>
</nav>