<nav class="navbar navbar-expand-lg navbar-light bg-success">
	<a class="navbar-brand" href="/">
		<b>Jere Express</b>
	</a>

	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" style="color: white" href="/categories/admin">
				Categorias
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" style="color: white" href="/articles/admin">
				Artigos
			</a>
		</li>
		<li class="nav-item dropdown" id="lili">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
	         	Categorias
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action</a>
				<a class="dropdown-item" href="#">Something else here</a>
	        </div>
      </li>
	</ul>
</nav>