<nav class="navbar navbar-light bg-success">
	<a class="navbar-brand" href="/">
		<b>Jere Express</b>
	</a>

	<ul class="navbar-nav">
		<li class="nav-item">
			<a class="nav-link" style="color: white" href="/categories/admin">
				Categorias
			</a>
		</li>
	</ul>
</nav>