<%- include("../../partials/header.ejs") %>
<%- include("../../partials/navbar.ejs") %>

<div class="container">
    <hr>
    <div class="card mt-5">
        <div class="card-header">
            <h2>Criação de usuário</h2>
        </div>
        <div class="card-body">
            <form action="/users/create" method="POST">
                <input class="form-control" name="email" type="email" placeholder="jeremias@email.com"><br>
                <input class="form-control" name="password" type="password" placeholder="***************"><br>
                <button type="submit" class="btn btn-success btn-block">Criar</button>
            </form>
        </div>
    </div>
</div>


<%- include("../../partials/footer.ejs") %>